<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
			<img src="../img/Navi-Logo.png" alt=navi-logo width="50px" height="50px">
			<span class="site-name"><b>Navi</b></span>
			<span class="slogan">Find your game!</span>
		</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
        </li>
      </ul>
        <div class="login-box">
          <div class="d-flex">
					<a href="../login" type="button" class="btn btn-info" id="login-button">Log in</a>
					<a href="../logout" type="button" class="btn btn-info" id="login-button">Log out</a>
					<a href="../wishlist" type="button" class="btn btn-info" id="login-button">Wishlist</a>
          </div>
        </div>
    </div>
  </div>
</nav>
