<nav class="navbar navbar-light" style="background-color: rgba(255,255,255,.2);">
	<div class="container-fluid">
		<a class="navbar-brand" href="./">
			<img src="../img/Navi-Logo.png" alt=navi-logo width="50px" height="50px">
			<span class="site-name"><b>Navi</b></span>
			<span class="slogan">Find your game!</span>
		</a>
		<div class="d-flex">
			<a id="login-button" class="btn btn-info" href="../login" role="button">Log in</a>
			<a id="login-button" class="btn btn-info" href="../logout" role="button">Log out</a>
			<a id="login-button" class="btn btn-info" href="../wishlist" role="button">Wishlist</a>
		</div>
	</div>
</nav>
