<header>
  <div class="container">
		<a class="logo-wrapper" href="./">
			<div class="logo-main"></div>
		</a>
		<div class="slogan-wrapper"><span class="site-name">Navi</span><span class="slogan">Find your game!</span></div>
		<nav class="nav-bar">
			<a id="login-button" class="btn btn-info" href="../login" role="button">Log in</a>
			<a id="login-button" class="btn btn-info" href="../logout" role="button">Log out</a>
			<a id="login-button" class="btn btn-info" href="../wishlist" role="button">Wishlist</a>
		</nav>
  </div>
</header>