
	<%- include('partials/header.ejs') %>
	<br><br><br>
	<div class="container">
	<div class="wishlist">	
		<div class="card p-4">
			<div class="card-body text-center">
			<br>
				Username:
				<input type="text" id="username">
				<br><br>

				Password:
				<input type="password" id="password"><br><br>
				<button id="login" class="btn btn-outline-info">Login</button>

				<h3 id="errorMsg"></h3>
					
				<% if (typeof error != "undefined") { %>
					<%= error %>
				<% } %>
			</div>
		</div>
	</div>
	</div>
	<script src="/js/login.js"></script>
	<div class="space">
	</div>
	<%- include('partials/footer.ejs') %>
