<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.12.0/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/60e8cc941a.js" crossorigin="anonymous"></script>
</head>
<body>

	<%- include('partials/navigation.ejs') %>
	<div class="container">
	<div class="wishlist">	
		<div class="card p-4">
			<div class="card-body text-center">
			<br>
				Username:
				<input type="text" id="username">
				<br><br>

				Password:
				<input type="password" id="password"><br><br>
				<button id="login" class="btn btn-outline-info">Login</button>

				<h3 id="errorMsg"></h3>
					
				<% if (typeof error != "undefined") { %>
					<%= error %>
				<% } %>
			</div>
		</div>
	</div>
	</div>
	<script src="/js/login.js"></script>
	<div class="space">
	</div>
	<%- include('partials/footer.ejs') %>
</body>
</html>